<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <main>
  <div class="container">

    <h1><i class="large material-icons">mode_comment</i>Board</h1>
    <ul class="collection">
      <% for (let message of messages ) { %>
        <li class="collection-item"><%= message.title %>
        <a href="/messages/<%=message._id%>" class="secondary-content">
          <i class="material-icons light-green-text text-darken-4">send</i></a>
      </li>
      <% } %>
    </ul>
  </div>
</main>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</body>

</html>