<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">




        <div class="center">
            <h1 class=""><%=message.title%></h1>




        <div class="row valign-wrapper">
            <div class="col s12 offset-s1 valign">
                <div class="card">
                    <div class="card-image">
                        <img src="<%=message.image%>">
                    </div>
                    <div class="card-content">
                        <p class="flow-text"><%=message.body%></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12 offset-s3 valign">
            <div class="col sm-4">
                <button class="btn black waves-effect waves-green btn-large" type="button" name="button"><a
                        class="white-text" href="/messages/<%=message._id%>/edit">Edit<i
                        class="material-icons left">edit</i></a></button>
            </div>
            <div class="col sm-4">
                <form action="/messages/<%=message._id%>?_method=DELETE" method="POST">
                    <button class="btn red darken-1 waves-effect waves-red btn-large" type="submit" name="delete">
                        <i class="material-icons left">delete</i> Delete
                    </button>
                </form>
            </div>
            <div class="col sm-4">
                <button class="btn black waves-effect waves-green btn-large" type="button" name="button">
                    <a class="white-text" href="/messages">Back<i
                        class="material-icons left">arrow_back</i></a>
                </button>
            </div>
        </div>
        </div>

   </div>
    </div>
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>

</html>